#produtos-conteiner{
  width: 70vw;
}
.msg{
  background-color: #D4EDDA;
  color: #155724;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

.select2-selection__rendered {
  line-height: 31px !important;
}
.select2-container .select2-selection--single {
  height: 36px !important;
}
.select2-selection__arrow {
  height: 35px !important;
}

.campos_entrada{
  width: 100%;
}
.campos_entrada input{
  width: 23%;
  float: left;
  margin-top: 2px;
  border-radius: 0%;
}
.campos_entrada #quantidade{
  width: 10%;
}
.campos_entrada #numerodeserie{
  width: 16%;
}
.campos_entrada #nome{
  width: 16%;
}
.campos_entrada #valor{
  width: 13%;
}
.campos_entrada #garantia{
  width: 15%;
}
.campos_entrada button{
  margin-top: 2px;
}
.btn-add, .btn-remove{
  height:38px;
  border-radius: 0 7px 7px 0;
  margin-top: 2px;
}